.sticky {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    z-index: 10;
    background: inherit;
    
}


@media only screen and (max-width: 700px) {
    .NoDataFound {
       width: 100%;
    }
  }