<p>postjob works!</p>
<div class="card-deck">
    <div class="card col-lg-9 mx-auto shadow"style="width: 20rem;" >
        <form #ref="ngForm"              (ngSubmit)="postjob(ref.value);ref.reset()">
            <h3 class="text-center text-white p-3 heading">Post Job</h3>
            <div class="row">
              <div class="col-lg-6">
                 <div class="form-group">
                     <label for="">Job Title</label>
                     <input type="text" name="jobtitle"  class="form-control" ngModel>
                 </div>
                 <div class="form-group">
                     <label for="">Qualification</label>
                     <input type="text" name="qualification" class="form-control" ngModel>
                 </div>
                  <div class="row">
                      <div class="col-6">
                 <div class="form-group">
                     <label for="">Min salary </label>
                     <input type="number" name="maxsalary" class="form-control" ngModel> 
                 </div>
                 
                      </div>
                      
                      <div class="col-6">
                 <div class="form-group">
                     <label for="">Min salary</label>
                     <input type="number" name="minsalary" class="form-control" ngModel>
                 </div>
                      </div>
                  </div>
               </div>
               <div class="col-lg-6">
                   <div class="form-group">
                       <label for="">Job type</label>
                       <input type="text" name="jobtype" class="form-control" ngModel>
                   </div>
                   <div class="form-group">
                       <label for="">Job Location</label>
                       <input type="text" name="joblocation" class="form-control" ngModel>
                   </div>
                   <div class="ml-5">
                       <div>
                        <label for="" class="text-left">Hiring process</label>
                       </div>
             
                       <input type="radio" value="facetoface" class="form-check-input" name="interviewType" ngModel>
                       <label for="" class="mr-5 form-check-label">Face to Face</label>
                   
                       <input type="radio" value="telephone" class="form-check-input" name="interviewType" ngModel>
                       <label for="" class="mr-5 form-check-label">Telephone</label>

                       <br>

                       <input type="radio" value="writtentest"  class="form-check-input" name="interviewType" ngModel>
                       <label for="" class="mr-5 form-check-label">Written Test</label>
                   
                
                       <input type="radio" value="walkin"  class="form-check-input" name="interviewType"  ngModel>
                       <label for="" class="mr-5 form-check-label">Walk-in</label>
                   
                   </div>
                  
               </div>

            </div>
            <div class="form-group">
                <label for="" >Job Description</label>
                <textarea name="description" id="" cols="35" rows="6" class="form-control" ngModel></textarea>
                <!-- <editor ngModel name="description"></editor> -->
            </div>
         <!-- <div class="text-center mb-3">
             <button class="btn-md btn-outline-success mt-3" type="submit">Post</button>
         </div> -->
         <div class="text-center mb-3 mt-3">
            <button mat-raised-button color="primary" type="submit">Post</button>
        </div>
        </form>
    </div>
</div>

